*{margin: 0; padding: 0; color: red;}/*Seletor universal geralmente para preset da página*/

/*Seletores ID são precedidos de # e são únicos*/
#conteudo {background-color: blue; padding: 20px;}

/*Seletor classe é precedido de um ponto no css e pode ter mais de um*/
.textoprincipal {color: indianred; text-align: right; font-size: 100px;}

/*Seletores agrupados evitam repetição de código*/
h2, h3 {color: grey; text-align: center; font-size: 30px;}

/*Seletor atributo*/
input[type="text"]{width: 200px; background-color: greenyellow;}
input[type="email"]{width: 200px; background-color: yellow;}

/*Seletor tag*/
p {color: green;}
h1 {color: blue; font-size: 60px; font-family: 'Courier New', Courier, monospace;}